.infoFormContainer {
  display: flex;
  flex-direction: row;
}

.infoForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "Avenir";
}

.inputBar {
  flex: 1;

  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Avenir", sans-serif;
  background-color: white;
  border-width: 1px;
  border-color: rgb(94, 161, 94);
  border-radius: 3%;
}

.inputBar:focus {
  background-color: #f8f6ef;
  outline: 1.5px solid #656d4a;
}

.inputLabel {
  display: block;
  text-align: left;
  margin-bottom: 3px;
  font-size: 15px;
  font-family: "Avenir", sans-serif;
}

.forgotPassLink {
  margin-top: -15px;
  margin-bottom: 15px;

  font-family: "Avenir", sans-serif;
  font-size: 14px;
  text-align: right;
}

.loginForm {
  position: relative;
  text-align: center;
  display: block;
  margin: 15px;
}

.loginButton {
  vertical-align: middle;
  background-color: #656d4a;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 52px;
  padding-right: 52px;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  border: 0px;
  border-radius: 3%;
}

.loginButton:hover {
  background-color: rgb(133, 147, 127);
  cursor: pointer;
}

.loginButton:active {
  background-color: rgb(66, 72, 63);
}

.loginContainer {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.logo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.logoImage {
  width: auto;
  height: auto;
}

.signUpLink {
  font-family: "Avenir", sans-serif;
  font-size: 20px;
}
