.client-profile {
  font-family: "Avenir", sans-serif;
  color: rgb(103, 109, 78);
  width: 70%;
  margin: 5em auto;
  background: #fff;
}

h1,
p {
  color: #524242;
}

p {
  margin: 0;
  margin-bottom: 0.4em;
}

.back-button a {
  background: #fff;
  color: rgb(103, 109, 78);
  border: 0;
  font-size: 1.25em;
  margin-bottom: 1em;
  text-decoration: none;
}

/* .back-button a:hover {
  text-decoration: underline; 
} */

.client-name {
  font-size: 2rem;
  font-weight: 300;
}

.client-info {
  margin-bottom: 5em;
}

.details-content-members {
  margin-bottom: 1em;
}

.details-authorized-pickup {
  margin-bottom: 0.75em;
  background: green;
}

.client-details {
  justify-content: space-between;
  display: flex;
  margin-bottom: 1em;
}

.details-household-members {
  width: 30%;
}

h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.details-phone-number {
  width: 20%;
  margin-right: 5em;
}

.details-address {
  width: 38%;
}

.details-age {
  width: 12%;
  background: blue;
}

/* Client Dashboard Table Stylings */

.client-information {
  display: flex;
  flex-direction: column;
}

.table-header,
.table-row,
.table-header-pickup {
  display: flex;
}

.table-header-pickup {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.members {
  width: 30%;
}

.age {
  width: 12%;
}

.phone-number {
  width: 25%;
}

.address {
  width: 35%;
}

.check-in {
  border: 1.5px solid rgb(103, 109, 78);
  color: rgb(103, 109, 78);
  border-radius: 3px;
  width: 8em;
  font-size: 1.35em;
  height: 2.25em;
  background: #fff;
}
button.check-in:hover {
  cursor: pointer;
}

.name-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.client-history,
.client-notes {
  border: 1px solid rgb(103, 109, 78);
  width: 47%;
  padding: 0.5em;
}

.visit-date {
  margin-bottom: 0.75em;
}

.notes-content li {
  margin-left: -1em;
  padding: 0;
}
.history-and-notes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.icon {
  width: 1.8em;
  height: 1.8em;
  margin-left: 1em;
}

.name-and-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-name {
  font-size: 2.1em;
  font-weight: 400;
}

.bolded {
  font-weight: 600;
}

.backgroundGreen {
  background: rgb(103, 109, 78);
  color: white;
}

.checkedInBanner {
  position: relative;
  top: -3.5em;
  border: 1px solid rgb(103, 109, 78);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkedInBanner p {
  color: rgb(103, 109, 78);
  margin-top: 0.3em;
}

/* Dialog Styling */
.dialog {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.dialog-modal {
  background: white;
  width: 18em;
  height: 10em;
  border-radius: 8px;
  padding: 1em;
}

h3.confirmMessage {
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
  margin: 0.25em 0;
  padding: 0;
}

.dialogButton {
  border: none;
  padding: 0.75em;
  border-radius: 5px;
  color: white;
}

.checkOutUser {
  background: rgb(103, 109, 78);
  margin-right: 0.75em;
}

.cancelCheckOutUser {
  border: 1px solid red;
  background: none;
  color: red;
}

.buttonsHolder {
  margin-top: 1.25em;
}

/* Flag Styling */
.flag {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.flag-modal {
  background: white;
  width: 30em;
  height: 22em;
  border-radius:10px;
  padding: 1em;
}

.flag-icon-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.flagIcon {
  width: 64px;
  height: 64px;
  fill: black; /* Adjust the color as needed */
}

.flag-modal textarea {
  width: 100%;
  height: 115px;
  padding-top: 10px;
  padding-left: 5px;
  border-radius: 15px; /* Rounded corners */
  border: 1px solid #ccc; /* Border color */
  font-family: Arial, sans-serif; /* Font family */
  font-size: 14px; /* Font size */
  line-height: 1.5; /* Line height */
  resize: none; /* Disable resizing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.flag-modal textarea:focus {
  border-color: #656d4a; /* Border color on focus */
  outline: none; /* Remove default outline */
}

.flag-modal textarea::placeholder {
  color: #aaa; /* Placeholder text color */
  font-style: italic; /* Italic placeholder text */
}

.flaggingButton {
  border: 1.5px solid red;
  justify-content: flex-end;
  border-radius: 3px;
  color: red;
  width: 8em;
  font-size: 1.35em;
  height: 2.25em;
  background: #fff;
}

.flagButton {
  border: none;
  padding: 0.75em;
  border-radius: 5px;
  color: white;
}

.confirmFlag {
  background: rgb(103, 109, 78);
  margin-right: 0.75em;
}

.cancelFlag {
  border: 1px solid red;
  background: none;
  color: red;
}

h3.confirmFlagMessage {
  font-weight: 200;
  font-size: 1.2em;
  margin: 0;
  margin: 0.25em 0;
  padding: 0;
}